*{
  margin: 0;
}
html,
body {
  --black: hsl(240, 6%, 13%);
  --grey: hsl(48, 9%, 89%);

  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;

}

body {
  background: url(images/Desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  place-items: center;
  height: 100%;
}

main{
  background: url(images/Background.svg);
  width: 375px;
  height: 812px;
  color: var(--grey);
}

.container{
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--grey);
  
}

.avatar{
  width: 10rem;
  margin: 11.5rem auto 0;
  position: relative;

}

.avatar span{
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img{
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1{
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

a{
  color:var(--grey);
  text-decoration: none;
  margin-top: 0.25rem;
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
}

p{
  margin-top: 2rem;

}

ul{
  list-style: none;
  margin-top: 4rem;
  padding: 0;
  display: flex;
  gap: 0.50rem;
  justify-content: center;
}