*{
  margin: 0;
}
html,
body {
  --black: hsl(240, 6%, 13%);
  --grey: hsl(48, 9%, 89%);

  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;

}

body {
  display: grid;
  place-items: center;
}

main{
  background: url(images/Background.svg) no-repeat center/cover;
  width: 100vw;
  min-height: 812px;
  height: 100vh;
  color: var(--grey);
}

.container{
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--grey);
  
}

.avatar{
  width: 10rem;
  margin: 11.5rem auto 0;
  position: relative;

}

.avatar span{
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img{
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1{
  font-size: 1.5rem;
  margin-top: 1.5rem;
  color:var(--grey);
}

a{
  color:var(--grey);
  text-decoration: none;
  margin-top: 0.25rem;
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
}

p{
  margin-top: 2rem;

}

ul{
  list-style: none;
  margin-top: 4rem;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

@media (min-width: 720px) {
	/* estilos versão desktop */
body{
  background: url(images/Desktop.png) no-repeat center/cover;
  
}

  main{
    background: url(images/Badge.svg) no-repeat center/cover;
    width: 25rem;
    min-height: 0;
    height: auto;
    position: relative;
    margin-top: 8.75rem;
    border-radius: 1rem;
    border: 0.5px solid #F30072;

  }


  .rope, .gap{
		position: absolute;
    top:auto;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }

  .rope{
    background: url(images/Band.svg);
    width: 4rem;
    height: 9.87rem;
    z-index: 1;
    transform: translateY(-150px);

  }

  .gap{
    background: url(images/Break.svg);
    width: 5rem;
    height: 0.5rem;
    border-radius: 0.5rem;
    margin-top: 0.35rem;
  }

  .avatar {
    width: 10rem;
    margin: 5rem auto 0;
 }

 ul {
  margin: 3rem 0;
}
  
}